{{ define "auth/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>

    <link rel="stylesheet" href="/public/assets/pico.min.css">
</head>
<body>
    <h1>Hello</h1>
    <div class="flex three demo">
  <div><span>1</span></div>
  <div><span>2</span></div>
  <div><span>3</span></div>
  <div><span>4</span></div>
  <div><span>5</span></div>
</div>

</body>
</html>
{{ end }}